$bgcolor: azure;
$homebgcolor: #212429;
$org_color: #191919;
$board_color: #10428f;
$h3_card_color: white;
$new_bg_color: #292929;
$new_button_color: white;
$text_color: white;
$text_col-lg-8_color: black;
$border_backg_color: #0d6efd;
$dropdow_background_color: #212529;

$aqua: #48dafd;
$orange: #ffa800;
$purple: #9f46e4;
$white: #ffffff;
$blue_green: #00d4c8;
$red: #fb5779;
$light_blue:#4275f4;
$black: black
